%div#exhibition
  %h1= @exhibition.name

  - if current_user.admin?
    - if @exhibition.is_on_homepage?
      This exhibition is currently assigned to the homepage
    - else
      = link_to("Assign to homepage", { :controller => 'exhibitions', :action => 'update', :exhibition => { :assigned_to_homepage => "true" } } , :id => @exhibition.id, :method => :put)

  %p
    - @exhibition.artworks.each do |a|
      %span
        = link_to image_tag(a.image.bigtoe.url), a, :id => a.title
        - if @exhibition.user == current_user
          = link_to('Remove', remove_artwork_from_exhibition_path(:id => @exhibition.id, :artwork_id => a.id), :method => :put)

  - if @exhibition.user == current_user
    %p
      %br
      = link_to 'Delete exhibition', @exhibition, :confirm => t('are_you_sure'), :method => :delete
