%div#exhibition-form
  
  = semantic_form_for @exhibition do |f|
    - if @exhibition.errors.any?
      #errorExplanation
        %h2= t("exhibitions.errors_on_save", :errors => pluralize(@exhibition.errors.count, 'error'))
        %ul
        - @exhibition.errors.full_messages.each do |msg|
          %li= msg

    = f.inputs do
      = f.input :name
      %li#artwork-note-label
        %label{:for => 'exibition_note'}
          Note
        %br
        %span#edit-note-link= link_to 'Edit note', '#', :id => 'edit-link'
        #display-note
          :markdown
            #{@exhibition.note}
      = f.input :note, :as => :hidden
    = f.buttons

= render :partial => 'common/editor', :locals => {:editable => @exhibition}
