= form_for @artwork, :html => {:multipart => true} do |f|
  - if @artwork.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@artwork.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @artwork.errors.full_messages.each do |msg|
        %li= msg

  .field
    = f.label :title
    %br
    = f.text_field :title
  
  .field
    = f.label :year
    %br
    = f.text_field :year

  %div#location_created_form
    = f.label :location_created
    = f.fields_for :location_created do |ff|
      = ff.fields_for :city do |fff|
        .field
          = fff.label :state
          %br
          = fff.us_state_select :state
  
        %div.site_form_container
      
      = ff.hidden_field(:tags, :value => "created")

  .field
    = f.label :image
    %br
    = f.file_field :image
 
  .actions
    = f.submit
