= semantic_form_for @artwork, :html => {:multipart => true} do |f|
  - if @artwork.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@artwork.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @artwork.errors.full_messages.each do |msg|
        %li= msg

  - f.inputs do
    = f.input :title
    = f.input :year
    = f.input :image
  = f.buttons
-#    %h3 Location created
-#  = f.semantic_fields_for :location_created do |ff|
-#  = render 'sites/fields', :f => ff
