= semantic_form_for @artwork, :html => {:multipart => true} do |f|
  - if @artwork.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@artwork.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @artwork.errors.full_messages.each do |msg|
        %li= msg

  = f.inputs do
    = f.input :title
    = f.input :year
    = f.input :image
    = f.input :height
    = f.input :width
    = f.input :grandpa_index
    = f.input :tags
    Enter tags separated by commas:
    %br
    eg. painting, newton, etc.
    %li#artwork-note-label
      %label{:for => 'artwork_note'}
        Note
      %br
      %span#edit-note-link= link_to 'Edit note', '#', :id => 'edit-link'
      #display-note
        :markdown
          #{@artwork.note}
    = f.input :note, :as => :hidden
  = f.buttons
-#    %h3 Location created
-#  = f.semantic_fields_for :location_created do |ff|
-#  = render 'sites/fields', :f => ff

= render :partial => 'common/editor', :locals => {:note => @artwork.note}
= render :partial => 'common/set_editor', :locals => {:model_name => "artwork"}
