%div#navigation
  %p
    = link_to t('back'), artworks_path
    = link_to t('edit'), edit_artwork_path(@artwork)

  %p
    %dl
      %dt= 'Add to exhibition'
      - @artwork.exhibitions.where(:owner_id => current_user.id).each do |e|
        %span.already-added
          %dd
            Already exists in
            = link_to(e.name, e)
      - current_user.exhibitions.each do |e|
        - if !e.artworks.include?(@artwork)
          = link_to(e.name, add_artwork_to_exhibition_path(:id => e.id, :artwork_id => @artwork.id), :method => :put)
  
  %p
    %dl
      %dt= 'Links to images'
      %dd= link_to 'Master', @artwork.image.url
      %dd= link_to '512x', @artwork.image.economy.url
      %dd= link_to '256x', @artwork.image.collage.url
      %dd= link_to '128x', @artwork.image.bigtoe.url
      %dd= link_to '72x72', @artwork.image.thumb.url
      %dd= link_to '36x36', @artwork.image.tiny.url
 

