%h1= @artwork.title+" ("+(@artwork.year ? @artwork.year.to_s : "?")+")"
%p

  %dl

    = image_tag @artwork.image.economy.url 

    %dt= 'Links to images'
    %dd= link_to 'Master', @artwork.image.url
    %dd= link_to '512x512', @artwork.image.economy.url
    %dd= link_to '256x256', @artwork.image.collage.url
    %dd= link_to '128x128', @artwork.image.bigtoe.url
    %dd= link_to '72x72', @artwork.image.thumb.url
    %dd= link_to '36x36', @artwork.image.tiny.url

  = link_to t('back'), artworks_path
  = link_to t('edit'), edit_artwork_path(@artwork)

%dl
