%p
  = link_to 'All users', users_path
  - if can? :manage, @user
    = link_to t('edit'), edit_user_registration_path(@user)

- if can? :manage, @user
  %dl
    %dt= User.human_attribute_name :email
    %dd= @user.email
%br
%p
  %h2
    #{@user.name}'s Galleries

  = render :partial => 'galleries/preview', :collection => @user.galleries, :as => :gallery, :locals => {:hide_byline => true}
