%h2.margin
  About this site

#about
  %p
    Golahny.org is a database, gallery, and social platform for promoting the work of artist Berta Golahny.

  %p
    The free and open source code is hosted at #{link_to "https://github.com/gkop/bbase", "https://github.com/gkop/bbase"}.

  %p
    Developed in New Mexico with 100% solar electricity, by Gabe Kopley, grandson of Berta.

  %p
    Layout by Megan Magnum (#{link_to "http://wordsthatwork.net", "http://wordsthatwork.net"}).

  %p
    Submit bug reports, feature requests, and other technical feedback at #{link_to "https://github.com/gkop/bbase/issues", "https://github.com/gkop/bbase/issues"}.  For bugs, please cite the revision number below.

  %p
    revision #{link_to git_revision, git_revision_url}

  %p
    last revised #{git_revision_date}
    
