%h1= t '.title'

= semantic_form_for @settings, :url => settings_path, :html => {:method => :put} do |f|

  %li#biography-content-label
    %label{:for => 'biography_content'}
      Biography
    %br
    %span#edit-note-link= link_to 'Edit biography', '#', :id => 'edit-link'
    #display-note
      :markdown
        #{@settings.biography_content}
  = f.input :biography_content, :as => :hidden
  = f.actions
                               
= render :partial => 'common/editor', :locals => {:content => @settings.biography_content, :editable_id => "biography_content" }
