- content_for :title, t('.title', :gallery_name => @gallery.name)

%div#gallery
  %h1= @gallery.name
  %h4
    - if @gallery.curated?
      Officially curated by #{link_to(@gallery.user.name, @gallery.user)}, a Golahny expert
    - else
      By #{@gallery.user ? link_to(@gallery.user.name, @gallery.user) : "Anonymous"} 
  - if can? :manage, Settings 
    - if @gallery.is_on_homepage?
      = t('.assigned_to_homepage')
    - else
      = link_to(t(".assign_to_homepage"), { :controller => 'galleries', :action => 'update', :gallery => { :assigned_to_homepage => "true" } } , :id => @gallery.id, :method => :put)
    %br

  - @gallery.artworks.each do |a|
    .gallery-item
      = link_to bigtoe_image(a), a, :id => a.title
      %br
      = basic_title(a)
      - if can?(:manage, @gallery)
        %br
          #{link_to(t("remove"), remove_artwork_from_gallery_path(:id => @gallery.id, :artwork_id => a.id), :method => :put)}
 
  - if !@gallery.note.blank?
    .left-aligned.note.wall-of-text
      :markdown
        #{@gallery.note}

  - if can?(:manage, @gallery)
    %p
      = link_to t("edit"), edit_gallery_path(@gallery)
      |
      = link_to t(".delete"), @gallery, :data => {:confirm => t('are_you_sure')}, :method => :delete
