!!! html
%html
  %head
    %title
      - if content_for?(:title)
        #{yield(:title)} | Golahny.org
      - else
        Golahny.org, online home of artist Berta Rosenbaum Golahny
    %meta{:charset => "UTF-8"}
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = render "common/google_analytics"

  %body
    #contents
      #header
        .top
          = render 'devise/menu/menu'
        .bottom
          Berta Rosenbaum Golahny

      #sidebar-menu
        %a{:href => biography_path}
          .item
            BIOGRAPHY
        %a{:href => galleries_path}
          .item
            GALLERIES
        %a{:href => artworks_path}
          .item
            ARTWORKS
        %a{:href => artworks_path(:tags => 'drawing')}
          .sub.item
            Drawings
        %a{:href => artworks_path(:tags => 'painting')}
          .sub.item
            Paintings
        %a{:href => artworks_path(:tags => 'print')}
          .sub.item
            Prints
        %a{:href => artworks_path(:tags => 'sculpture')}
          .sub.item
            Sculpture
        %a{:href => resources_path(:tags => 'writing')}
          .item
            WRITINGS
        %a{:href => resources_path(:tags => 'response')}
          .item
            RESPONSES
        %a{:href => resources_path(:tags => 'exhibition')}
          .item
            EXHIBITIONS
      #main
        #inner
          #flash-container
            - if alert
              %div.alert= alert
            - elsif notice
              %div.notice= notice

          = yield

      #footer
        = link_to "credits", about_path
        |
        = link_to "contact", contact_path
        |
        = link_to "terms", terms_path
        -#
          = link_to "resources", "#"
          |
          = link_to "terms of use", "#"
          |
          = link_to "help", "#"
          |
        - if current_user && current_user.has_invitations_left?
          |
          = link_to "invite somebody", new_user_invitation_path

    %script{:type => 'text/javascript'}
      - callback = 'function() { jQuery.fx.off = true; }' if Rails.env.test?
