!!! html
%html
  %head
    %title
      Bbase
    = stylesheet_link_tag :all
    = javascript_include_tag 'external/jquery-1.4.1.min', 'external/jquery.rails', 'external/jquery.unescape', 'BBase/BBase', 'BBase/Forms', 'BBase/Slideshow'
    = csrf_meta_tag
  
  %body
    #contents
      #header
        .top
          = render 'devise/menu/menu'
        .bottom
          - if current_user
            Berta Golahny
          - else
            Welcome
   
      - if current_user 
        #sidebar-menu
          -#
            %a{:href => "#"}
              .item
                ABOUT THIS SITE
            %a{:href => "#"}
              .item
                BIOGRAPHY
          %a{:href => exhibitions_path}
            .item
              EXHIBITIONS
          -#
            %a{:href => "#"}
              .sub.item
                Paintings
            %a{:href => "#"}
              .sub.item
                Prints
            %a{:href => "#"}
              .sub.item
                Sculpture
            %a{:href => "#"}
              .item
                RESOURCES
            %a{:href => "#"}
              .item
                TERMS OF USE
            %a{:href => "#"}
              .item
                HELP / FAQs
            %a{:href => "#"}
              .item
                CONTACT

      #main
        #inner
          %p.notice{:style => "color: green"}= notice
          %p.alert{:style => "color: red"}= alert
  
          = yield
 
      - if current_user
        #footer
          = link_to "about this site", about_path
          -#
            = link_to "resources", "#"
            |
            = link_to "terms of use", "#"
            |
            = link_to "help", "#"
            |
            = link_to "contact", "#"
            |
          - if current_user.admin?
            |
            = link_to "invite somebody", new_user_invitation_path
    :javascript 
      $('document').ready(function() {
        BBase.registerHandlers();
      });
