<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Bbase</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag 'external/jquery-1.4.1.min', 'external/jquery.rails', 'external/jquery.unescape', 'BBase/BBase', 'BBase/Forms', 'BBase/Slideshow' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id='contents'>
      <%= render 'devise/menu/menu' %>

      <p style="color: green" class="notice"><%= notice %></p>
      <p style="color: red" class="alert"><%= alert %></p>

      <%= yield %>
    </div>
 
    <script type="text/javascript">
      $('document').ready(function() {
        BBase.registerHandlers();
      });
    </script>
  </body>
</html>
