!!! html
%html
  %head
    %title
      - if content_for?(:title)
        #{yield(:title)} | Golahny.org
      - else
        Golahny.org, online home of artist Berta Golahny
    = stylesheet_link_tag :all
    = javascript_include_tag 'external/lazyload-min.js', 'BBase/BBase.js', 'BBase/MaybeLoad.js'
    = csrf_meta_tag
  
  %body
    #contents
      #header
        .top
          = render 'devise/menu/menu'
        .bottom
          Berta Golahny
   
      - if current_user 
        #sidebar-menu
          -#
            %a{:href => "#"}
              .item
                ABOUT THIS SITE
          %a{:href => biography_path}
            .item
              BIOGRAPHY
          %a{:href => exhibitions_path}
            .item
              GALLERIES
          %a{:href => artworks_path}
            .item
              ARTWORKS
          %a{:href => artworks_path(:tags => ['painting'])}
            .sub.item
              Paintings
          %a{:href => artworks_path(:tags => ['print'])}
            .sub.item
              Prints
          %a{:href => artworks_path(:tags => ['sculpture'])}
            .sub.item
              Sculpture
          -#
            %a{:href => "#"}
              .item
                RESOURCES
            %a{:href => "#"}
              .item
                TERMS OF USE
            %a{:href => "#"}
              .item
                HELP / FAQs
            %a{:href => "#"}
              .item
                CONTACT

      #main
        #inner
          #flash-container 
            - if alert
              %div.alert= alert
            - elsif notice
              %div.notice= notice
  
          = yield
 
      #footer
        - if current_user
          = link_to "about", about_path
          |
          = link_to "contact", contact_path
          -#
            = link_to "resources", "#"
            |
            = link_to "terms of use", "#"
            |
            = link_to "help", "#"
            |
          - if current_user.admin?
            |
            = link_to "invite somebody", new_user_invitation_path

    %script{:type => 'text/javascript'}
      = maybe_load nil, 'external/jquery-1.4.1.min.js', 'external/jquery.rails.js'
